<h1 class="buzzard-title">Produtos</h1>

<section class="px-24 my-4 flex flex-col h-full">
  <div class="flex-1">
    <div class="flex flex-col gap-2 text-gray-500">
      @for (product of productPageable.content; track $index) {
      <div class="w-full p-3 border-2 rounded-lg border-bzd-orange">
        <div class="">
          <div class="flex justify-between">
            <p class="text-sm font-black text-bzd-orange">BUZZARD PIX</p>
            <div class="font-normal self-start text-nowrap">
              Rende {{ product.dailyYield * 100 }}% por dia
            </div>
          </div>
          <p class="text-xl font-semibold text-bzd-orange-dark">
            {{ product.name }}
          </p>
        </div>

        <div class="h-0.5 bg-bzd-orange w-full mb-2"></div>

        <div class="flex justify-between items-end">
          <div>
            <span class="">Resgate em</span>
            <span class="text-bzd-orange text-2xl"> 1 dia útil </span>
          </div>

          <div class="w-fit flex gap-3">
            <a
              [routerLink]="['/products', product.id]"
              class="bzd-btn-primary px-3"
            >
              Ver produto
            </a>
          </div>
        </div>
      </div>
      }
    </div>
  </div>

  <div class="self-end">
    <app-pagination [pageParams]="{ currentPage, totalPages }"></app-pagination>
  </div>
</section>
